* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3em;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.5);
  position: fixed;
}

.banner {
  background-color: #23ac9b;
  display: flex;
  justify-content: center;
}

.banner:hover {
  background-color: #57c2b6;
}

.banner a{
  color: #fff;
  padding: 10px;
  font-weight: 400;
}

.header-nav {
  background-color:#fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.header-nav__logo {
  height: 40px;
  margin: 12px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu__item {
  padding: 20px 10px;
  display: none;
}


.menu__item a {
  color: #444;
  font-weight: 400;
}

.down-arrow {
  color: #bebebe;
}

.menu__item:hover, 
.menu__item:hover > a,
.mobile-menu__item:hover span, 
.mobile-menu__item:hover > a, 
.menu__item:hover .down-arrow,
.dropdown__item:hover > a {
  color: #f06324;
}

.menu__item:hover .dropdown,
.menu__item:focus .dropdown,
.mobile-menu__item:focus .dropdown,
.mobile-menu__item:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.menu__button {
  background-color: #f06324;
  padding: 0 20px;
  margin: 10px;
}

.menu__button:hover {
  background-color: #f48657;
}

.menu__button a {
  color: #fff;
  line-height: 40px;
}

.dropdown {
  position: absolute;
  list-style: none;
  visibility: hidden;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 15px 15px;
  background-color: #fff;
  min-width: 180px;
}

.dropdown__item {
  padding: 10px;
}

.mobile-menu__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

.mobile-menu__icon > div {
  height: 3px;
  width: 20px;
  background: #444;
  border-radius: 15px;
  margin: 2px;
}

.mobile-menu {
  display: none;
  position: absolute;
  background: #fff;
  width: 100%;
  list-style: none;
}

.mobile-menu__item {
  margin: 15px 10px;
}

.mobile-menu__item a{
  color: #444;
  font-weight: 400;
}

.mobile-dropdown {
  list-style: none;
  display: none;
  padding: 10px 10px;
  width: 100%;
}

.cover {
  background: url(https://www.nomnomnow.com/images/home/cover_child_dog.jpg);
  background-position: center center;
  background-size: cover;
  height: 50vw;
}

@media (min-width: 800px) {
  .menu__item {
    display: block;
  }

  .mobile-menu__icon,
  .mobile-menu {
    display: none;
  }
}