* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3em;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  box-shadow: 0px 2px 600px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.banner {
  background-color: #23ac9b;
  display: flex;
  justify-content: center;
}

.banner:hover {
  background-color: #57c2b6;
}

.banner a{
  color: #fff;
  padding: 10px;
  font-weight: 400;
}

.header-nav {
  background-color:#fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__logo {
  height: 40px;
  margin: 12px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu__item {
  padding: 20px 10px;
}


.menu__item a {
  color: #444;
  font-weight: 400;
}

.menu__item:hover, .menu__item:hover a {
  color: #f06324;
}

.menu__button {
  background-color: #f06324;
  padding: 0 20px;
  margin: 10px;
}

.menu__button:hover {
  background-color: #f48657;
}

.menu__button a {
  color: #fff;
  line-height: 40px;
}

/* .down-arrow {
  color: #bebebe;
} */

.cover {
  width: 100%;
  background: url(https://www.nomnomnow.com/images/home/cover_child_dog.jpg);
  background-position: center center;
  background-size: cover;
  height: 50vw;
}